*{
    box-sizing: border-box;
}
/* main header */
.main-header{
    background-color: skyblue;
    color: white;
    width: 100%;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    
}

.main-header>div{
    display: inline-block;
    vertical-align: middle;
}

.brand-logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 32px;
}

.main-nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 107px);
    
}